[submodule "3rdParty/Catch"]
	path = 3rdParty/Catch
	url = https://github.com/philsquared/Catch.git
[submodule "3rdParty/squirrel"]
	path = 3rdParty/squirrel
	url = https://github.com/albertodemichelis/squirrel.git
